/**
 * WordPress Custom
 */

/* "hero" top section */
.hero-text {z-index:2;}
.hero-section .hero-slide-style-1 .hero-buttons:after, .hero-section .hero-slide-style-2 .hero-buttons:after {
	color: #79dcf1;
}
.hero-section .hero-slide-style-2 .hero-middle-text span .lowerCase {
	margin-top: 40px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
}
.hero-section .hero-slide-style-2 .hero-middle-text .hero-bottom-text span {
	border: none;
	padding: 0;
}

.hero-section .hero-text {padding-bottom: 150px;}
.hero-section .bottom-rotators {height: 150px; margin-top:-200px; z-index: 1;}
.hero-section .bottom-rotators ul {list-style: none; padding: 0; margin: 0;}
.hero-section .bottom-rotators ul li {float:left; display:none;}
.hero-section .bottom-rotators .quotes-rotator, .hero-section .bottom-rotators .awards-rotator, .hero-section .bottom-rotators .festivals-rotator {float:left;}

	/* quotes */
	.hero-section .bottom-rotators .quotes-rotator {
		width: 56%;
		text-align: center;
		padding: 0 50px;
		margin-top: -35px;
	}

		.hero-section .bottom-rotators .quotes-rotator {
			font-size: 28px;
			line-height: 36px;
			color: #FFF;
			opacity: 0.3;
			font-family: "Georgia";
			font-style: italic;
		}
			.hero-section .bottom-rotators .quotes-rotator li {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
				.hero-section .bottom-rotators .quotes-rotator li span {
					text-transform: uppercase;
					font-family: Raleway;
					font-style: normal;
					font-weight: 500;
					letter-spacing: -3px;
				}

	.hero-section .bottom-rotators .awards-rotator img, .hero-section .bottom-rotators .festivals-rotator img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	/* awards */
	.hero-section .bottom-rotators .awards-rotator {
		width: 22%;
	}

	/* awards */
	.hero-section .bottom-rotators .festivals-rotator {
		width: 22%;
	}

.wpb_wrapper .owl-prev .fa-angle-left, .wpb_wrapper .owl-next .fa-angle-right {font-size: 100px;}
.owl-prev, .owl-next {top:35px;}
.owl-prev {left: -5%;}
.owl-next {right: -5%;}

/* general */
.generic-transition {
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
}
.poster-img {opacity: 0; position: absolute; right:3%; bottom:75px; z-index:1; -webkit-transform: translate3d(0, 50%, 0); transform: translate3d(0, 50%, 0);}
.no-border {border: none !important;}
.fadeInUp {
	display: block;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.fadeInUpOpacity {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fadeInDown {
	display: block;
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/* media queries */
@media only screen and (max-width : 1425px) {
	.hero-section .poster-img {display: none;}
}
/* tablet */
@media ( min-width: 768px ) and ( max-width: 991px ) {
	.header-section .navbar-nav {float:left;}
	#releaseLeft {width:67px;}
	#releaseRight {width:33px;}
}

@media ( max-width: 767px ) {
	.header-section .navbar-nav {float:left;}
	.text-rotator li {
		font-size:16px;
	}
	.text-rotator .lowerCase {
		display:none;
	}
	#watchTrailer, #getTickets, #getInvolved {
		font-size: 15px;
	}
	#watchTrailer {
		top:2%;
	}
	#getTickets {
		top: 6%;
	}
	.hero-middle-text {
		margin-top:45px !important;
	}
	.hero-middle-text span {
		padding: 0;
	}
	.quotes-rotator {
		width: 90% !important;
		padding: 0 !important;
		position: absolute;
		bottom: 5%;
		z-index:1000;
		font-size: 20px !important;
	}
	.awards-rotator  {
		width: 20% !important;
		position: absolute;
		top: 2%;
		left: 5%;
		z-index: 1000;
	}
	.festivals-rotator {
		width: 20% !important;
		position: absolute;
		top: 8%;
		z-index: 1000;
		left: 5%;
	}
	.bottom-rotators.container {
		position: inherit;
	}
	.section-title, .wpb_willow_big_title span {
		font-size: 32px !important;
	}

	#releaseLeft {
		width: 60%;
	}

	#releaseRight {
		width: 40%;
	}
	#releaseWrap {
		font-size:12px !important;
	}
	#events {
		background-image: none;
		background-color: #101926;
	}

	#logo-1, #logo-2, #logo-3, #logo-4, #logo-5, #logo-6, #logo-7, #logo-8 {
		background-image: none;
	}

	#logo-1 {
		width: 40px;
		height: 37px;
	}

	#logo-1 img {
		width: 40px;
		height: 37px;
	}

	#logo-2 {
		width: 36.5px;
		height: 35px;
		margin-right: 7%;
		margin-left: 11%;
	}

	#logo-2 img {
		width: 36.5px;
		height: 35px;
	}

	#logo-3 {
		margin-right: 7%;
		margin-top: 1%;
		width: 167px;
		height: 22.5px;
	}

	#logo-3 img {
		width: 167px;
		height: 22.5px;
	}

	#logo-4 {
		margin-right: 8%;
		margin-top: 1%;
		width: 69.5px;
		height: 28px;
		margin-left:3%;
	}

	#logo-4 img {
		width: 69.5px;
		height: 28px;
	}

	#logo-5 {
		width: 71px;
		height: 36px;
	}

	#logo-5-a {
		float: left;
		margin-right: 6%;
		margin-left:15%;
	}

	#logo-5 img {
		width: 71px;
		height: 36px;
	}

	#logo-6 {
		width: 133.5px;
		height: 35px;
		margin-right: 6%;
	}

	#logo-6 img {
		width: 133.5px;
		height: 35px;
	}

	#logo-7 {
		width: 160px;
		height: 35px;
		margin-right: 6%;
	}

	#logo-7 img {
		width: 160px;
		height: 35px;
	}

	#logo-8 {
		width: 89px;
		height: 35px;
	}

	#logo-8 img {
		width: 89px;
		height: 35px;
	}

	.vc_accordion_tab {height: auto !important;}
}