/**
 * WordPress Custom
 */

/* "hero" top section */
.hero-text {z-index:2;}
.hero-section .hero-slide-style-1 .hero-buttons:after, .hero-section .hero-slide-style-2 .hero-buttons:after {
	color: #79dcf1;
}
.hero-section .hero-slide-style-2 .hero-middle-text span .lowerCase {
	margin-top: 40px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
}
.hero-section .hero-slide-style-2 .hero-middle-text .hero-bottom-text span {
	border: none;
	padding: 0;
}

.hero-section .hero-text {padding-bottom: 150px;}
.hero-section .bottom-rotators {height: 150px; margin-top:-200px; z-index: 1;}
.hero-section .bottom-rotators ul {list-style: none; padding: 0; margin: 0;}
.hero-section .bottom-rotators ul li {float:left; display:none;}
.hero-section .bottom-rotators .quotes-rotator, .hero-section .bottom-rotators .awards-rotator, .hero-section .bottom-rotators .festivals-rotator {float:left;}

	/* quotes */
	.hero-section .bottom-rotators .quotes-rotator {
		width: 56%;
		text-align: center;
		padding: 0 50px;
		margin-top: -35px;
	}

		.hero-section .bottom-rotators .quotes-rotator {
			font-size: 28px;
			line-height: 36px;
			color: #FFF;
			opacity: 0.3;
			font-family: "Georgia";
			font-style: italic;
		}
			.hero-section .bottom-rotators .quotes-rotator li {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
				.hero-section .bottom-rotators .quotes-rotator li span {
					text-transform: uppercase;
					font-family: Raleway;
					font-style: normal;
					font-weight: 500;
					letter-spacing: -3px;
				}

	.hero-section .bottom-rotators .awards-rotator img, .hero-section .bottom-rotators .festivals-rotator img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	/* awards */
	.hero-section .bottom-rotators .awards-rotator {
		width: 22%;
	}

	/* awards */
	.hero-section .bottom-rotators .festivals-rotator {
		width: 22%;
	}

/* general */
.generic-transition {
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
}
.poster-img {opacity: 0; position: absolute; right:3%; bottom:75px; z-index:1; -webkit-transform: translate3d(0, 50%, 0); transform: translate3d(0, 50%, 0);}
.no-border {border: none !important;}
.fadeInUp {
	display: block;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.fadeInUpOpacity {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fadeInDown {
	display: block;
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/* media queries */
@media only screen and (max-width : 1425px) {
	.hero-section .poster-img {display: none;}
}

@media ( max-width: 767px ) {
	.text-rotator li {
		font-size:18px;
	}
	.text-rotator .lowerCase {
		display:none;
	}
	#watchTrailer, #getTickets, #getInvolved {
		font-size: 15px;
	}
	#watchTrailer {
		top:2%;
	}
	#getTickets {
		top: 6%;
	}
	.hero-middle-text span {
		padding: 0;
	}
	.quotes-rotator {
		width: 100% !important;
		padding: 0 !important;
	}
	.awards-rotator  {
		width: 35% !important;
		position: absolute;
		top: 2%;
		left: 2%;
	}
	.festivals-rotator {
		width: 35% !important;
		position: absolute;
		top: 2%;
		right: 10%;
	}
}