/**
 * WordPress Custom
 */
.no-border {border: none !important;}

/* "hero" top section */
.hero-section .hero-slide-style-1 .hero-buttons:after, .hero-section .hero-slide-style-2 .hero-buttons:after {
	color: #79dcf1;
}

.hero-section .hero-text {padding-bottom: 150px;}
.hero-section .bottom-rotators {height: 150px; margin-top:-150px; z-index: 1;}
.hero-section .bottom-rotators .quotes-rotator, .hero-section .bottom-rotators .awards-rotator, .hero-section .bottom-rotators .festivals-rotator {float:left;}

	/* quotes */
	.hero-section .bottom-rotators .quotes-rotator {
		width: 44%;
		text-align: center;
		font-size: 24px;
		color: #555;
		font-family: Georgia;
	}
		.hero-section .bottom-rotators .quotes-rotator span {
			text-transform: uppercase;
			font-family: Raleway;
		}

	/* awards */
	.hero-section .bottom-rotators .awards-rotator {
		width: 28%;
	}

	/* awards */
	.hero-section .bottom-rotators .festivals-rotator {
		width: 28%;
	}